.message{"data-message-id": message.id}
  .upper-message
    .upper-message__user-name
      = message.user.name
    .upper-message__date
      = message.created_at.strftime('%Y/%m/%d %H:%M')
  .lower-meesage
    - if message.body.present?
      %p.lower-message__content
        = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
