.side_bar{
  box-sizing: border-box;
  width: 300px;
  .header{
    padding: 0 20px;
    background-color: $side_blue_dark;
    height: 100px;
    &__name {
      display: inline-block;
      font-size: $side_header_font;
      font-weight: bold;
    }
    &__lists{
      display: inline-block;
      float: right;
      .list{
        display: inline-block;
      }
      .icon{
        color: $white;
        font-size: $side_header_font;
      }
    }
  }


  .groups{
    background-color: $side_blue_light;
    height: calc(100% - 100px);
    padding: 0 20px;
    .group{
      box-sizing:border-box;
      padding: 20px 0 40px;
      &__name{
        font-size: $side_group_name;
      }
      &__message{
        font-size: $side_group_message;
        margin-top: 5px;
      }
    }
  }
}
